.about {
  background-color: var(--gray-1);
  min-height: 100vh;
  position: relative;
}

.about-1 {
  padding-top: vw(184);
  padding-bottom: vw(250);
  color: var(--black);
  @include media('<=#{$br3}') {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}

.about-1__container {
  display: flex;
  justify-content: space-between;
  @include media('<=#{$br3}') {
    flex-direction: column-reverse;
  }
}

.about-1__left {
  width: vw(707);
  @include media('<=#{$br1}') {
    height: fit-content;
    position: sticky;
    top: 30px;
  }
  @include media('<=#{$br2}') {
    width: 50%;
  }
  @include media('<=#{$br3}') {
    width: 100%;
    position: static;
    margin-top: 32px;
  }
}

.about-1__right {
  width: vw(890);
  @include media('<=#{$br2}') {
    width: 45%;
  }
  @include media('<=#{$br3}') {
    width: 100%;
  }
}

.tb__h2,
.aim__h2 {
  @include h;
  font-size: vw(32);
  line-height: 1.5em;
  @include media('<=#{$br1}') {
    font-size: size(32, 24);
  }
}

.tb {
  + .tb {
    margin-top: vw(80);
    @include media('<=#{$br1}') {
      margin-top: size(80, 40);
    }
  }
  @include media('>#{$br1}') {
    &:not(.tb--p) {
      .tb__text {
        margin-left: vw(40);
      }
    }
  }
}

.tb--p {
  @include media('>#{$br1}') {
    padding-left: vw(40);
  }
}

.tb__text {
  margin-top: vw(30);
  @include light;
  line-height: 1.5em;
  white-space: pre-wrap;
  @include media('<=#{$br1}') {
    margin-top: size(30, 24);
  }
}

.about-1__img {
  padding-bottom: toimg(707, 960);
}

.aim {
  display: flex;
  margin-top: vw(32);
  width: 100%;
  @include media('<=#{$br1}') {
    margin-top: size(32, 24);
    flex-direction: column;
  }
}

.aim__items {
  margin-left: vw(80);
  position: relative;
  top: vw(6);
  @include light;
  line-height: 1.5em;
  width: 100%;
  @include media('<=#{$br1}') {
    margin-left: 0;
    margin-top: 16px;
  }
}

.aim__item {
  display: flex;
  flex-direction: column;
  &::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--black);
    display: block;
    margin-bottom: size(16, 12);
  }
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--black);
    display: block;
    margin-top: size(16, 12);
  }
  &:last-child {
    &::before {
      height: 0px;
      background-color: transparent;
    }
  }
}
