.home {
  position: relative;
}

.hero {
  width: 100%;
  height: var(--vh);
  position: relative;
}

.hero__images-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include coverdiv(absolute);
  z-index: 0;
}

.hero__images-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hero__img,
.hero__img-mask,
.hero__img-inner,
.hero__mask-inner {
  width: 100%;
  height: 100%;
  @include cover;
}

.hero__img-mask {
  @include coverdiv(absolute);
  z-index: 1;
}

.hero__container {
  height: 100%;
  position: relative;
}

.hero__h-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  padding-left: $g-offset;
  padding-right: $g-offset;
  @include media('<=#{$br3}') {
    padding-left: $g-mo;
    padding-right: $g-mo;
  }
}

.hero__h {
  text-align: center;
  max-width: 100%;
  color: #eae6dc;
}

.hero__text-wrapper {
  width: 100%;
  @include media('<=#{$br1}') {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: vw(50);
    text-align: center;
  }
}

.hero__bottom-text {
  position: absolute;
  left: vw(98);
  bottom: vw(50);
  text-transform: uppercase;
  @include h;
  font-size: vw(23);
  @include media('<=#{$br1}') {
    position: static;
    font-size: size(23, 16);
  }
}

.hero__discover {
  @include h;
  font-size: vw(36);
  line-height: 1.5em;

  @include media('>=#{$br1}') {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: vw(42);
  }

  @include media('<=#{$br1}') {
    font-size: size(36, 16);
    margin-top: 16px;
  }
}

.service-section__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  height: -webkit-fill-available;
  width: 100%;
}

.service-section__title {
  @include h-thin;
  font-size: vw(150);
  line-height: 1em;
  color: var(--white);
  text-align: center;

  @include media('<=#{$br1}') {
    font-size: size(150, 60);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.service-section__text {
  @include h;
  font-size: vw(36);
  line-height: 1.5em;
  text-align: center;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: vw(42);
  width: 100%;

  @include media('<=#{$br1}') {
    font-size: size(36, 16);
    bottom: 20px;
  }
}

.home-1 {
  color: var(--black);
  background-color: #eae6dc;
  padding-top: vw(136);
  padding-bottom: vw(200);

  @include media('<=#{$br1}') {
    br {
      display: none;
    }
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.home-1__wrapper {
  display: flex;
  width: 100%;

  @include media('<=#{$br1}') {
    flex-direction: column;
  }
}

.home-1__left-block {
  width: 59%;

  @include media('<=#{$br1}') {
    width: 70%;
  }

  @include media('<=#{$br3}') {
    width: 100%;
  }
}

.home-1__title {
  @include h-thin;
  font-size: vw(48);
  line-height: 1.2em;
  max-width: vw(850);

  @include media('<=#{$br1}') {
    font-size: 24px;
    max-width: 100%;
  }
}

.home-1__right-block {
  width: 41%;

  @include media('<=#{$br1}') {
    width: 70%;
  }

  @include media('<=#{$br3}') {
    width: 100%;
  }

  p {
    @include light;
    font-size: vw(20);
    line-height: 1.5em;

    + p {
      margin-top: vw(32);

      @include media('<=#{$br1}') {
        margin-top: 16px;
      }
    }

    @include media('<=#{$br1}') {
      font-size: 16px;
      margin-top: 20px;
    }

    + h3 {
      margin-top: vw(48);

      @include media('<=#{$br1}') {
        margin-top: 24px;
      }
    }
  }

  h3 {
    @include h-thin;
    font-size: vw(48);
    line-height: 1.3em;

    + p {
      margin-top: vw(16);

      @include media('<=#{$br1}') {
        margin-top: 12px;
      }
    }

    > b {
      font-weight: 250;
    }

    @include media('<=#{$br1}') {
      font-size: 24px;
    }
  }
}
