.footer {
  position: relative;
  overflow: hidden;
  &--open {
    .footer__h {
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
    }
    .footer__bottom {
      transform: translateY(0%);
    }
  }
}

@function footer-easing() {
  @return transform 1.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.footer__h {
  @include h-thin;
  text-transform: uppercase;
  white-space: nowrap;
  align-items: center;
  display: block;
  background-color: transparent;
  transition: opacity 0.5s ease, footer-easing();
  color: inherit;
  &:hover {
    opacity: 0.7;
  }
}

.footer__bottom {
  background-color: var(--black);
  position: absolute !important;
  bottom: 0;
  top: auto;
  left: 0;
  transform: translateY(100%);
  transition: footer-easing();
}

.f-b {
  padding-top: 40px;
  padding-bottom: 32px;
}

.f-b__inner {
  display: flex;
  @include media('<=#{$br3}') {
    display: block;
  }
}

.f-b__col {
  @include media('>#{$br3}') {
    &--1 {
      width: vw(582);
    }
    &--2 {
      width: vw(582);
    }
    &--3 {
      width: vw(553);
    }
  }
  @include media('<=#{$br3}') {
    width: 60%;
  }
}

.f-b__item {
  display: flex;
  &::before {
    content: attr(data-c);
    display: block;
    font-size: vw(14);
    margin-right: vw(32);
    position: relative;
    top: vw(2);
    @include media('<=#{$br3}') {
      font-size: 12px;
    }
  }
  + .f-b__item {
    margin-top: 16px;
  }
  @include media('<=#{$br3}') {
    margin-top: 16px;
  }
}

.f-b__h {
  @include media('<=#{$br3}') {
    margin-top: 20px;
  }
}

.f-b__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &::after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--white);
    transition: width 0.5s ease;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.f-b__form {
  margin-top: vw(56);
  @include media('<=#{$br3}') {
    margin-top: 24px;
  }
}

.footer__end {
  margin-top: vw(180);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.footer__privacy {
  font-size: vw(16);
  @include media('<=#{$br3}') {
    font-size: 14px;
  }
}

.footer__go-top {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.7;
  }
  @include media('<=#{$br3}') {
    display: none;
  }
}

.footer__logo {
  width: size(29, 14);
  height: size(62, 31);
  svg {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
