@import './helpers/all.scss';
@import './components/all.scss';
@import './layout.scss';
@import './pages/all.scss';

body {
  color: white;
  font-size: vw(20);
  @include reg;
  @include media('<=#{$br3}') {
    font-size: 16px;
  }
}
