@import './helpers/all.scss';
@import './components/all.scss';
@import './layout.scss';
@import './pages/all.scss';

* {
  &::selection {
    color: white;
    background: #ece5df;
  }
}

body {
  color: white;
  font-size: vw(20);
  @include reg;
  height: 100vh;
  height: var(--vh);
  overflow: hidden !important;
  position: relative;
  overscroll-behavior-y: none;
  @include smooth-font;
  @include media('<=#{$br1}') {
    font-size: 16px;
  }
}

.e-fixed {
  overflow: hidden !important;
}

.image-wrapper {
  width: 100%;
}

.img {
  @include cover;
  height: 0;
  width: 100%;
}

#gl,
#gl-2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}
#gl {
  // opacity: 0;
  z-index: 0;
  transition: opacity 1s ease;
}

#gl-2 {
  z-index: -2;
}

.noisy {
  @include coverdiv(fixed);
  pointer-events: none;
}

.js-hidden {
  opacity: 0;
  // visibility: hidden;
}

[data-a-bg] {
  transform: scale(1.1);
}

[data-a-mask] {
  opacity: 0;
}

[data-a-h] {
  transform: translateY(100%);
  transform-origin: bottom;
}

[data-a-o] {
  opacity: 0;
}
