.container {
  position: relative;
  width: 100%;
  padding-left: $g-offset;
  padding-right: $g-offset;
  @include media('<=#{$br3}') {
    padding-left: $g-mo;
    padding-right: $g-mo;
  }
}
@mixin col($start, $end) {
  grid-column: #{$start}/#{$end + 1};
}

@mixin row($start, $end) {
  grid-row: #{$start}/#{$end + 1};
}
